.jumbotron {
  padding-top: 5rem;
  margin-top: -1rem;
  background-color: #ced6e0;
}

.instansi {
  text-align: center;
}

#community {
  background-color: #ced6e0;
}

section {
  padding-top: 4rem;
}
